/* --- RESET BÁSICO --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #f4f4f4;
  min-height: 100vh;
}

/* --- ESTILO PARA O CONTAINER PRINCIPAL --- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* --- ESTILOS DE COMPONENTES PADRÕES --- */

h2 {
  margin-top: 20px;
  margin-bottom: 25px;
  color: #1F271B;
  border-bottom: 2px solid #7A9E7E;
  padding-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #7A9E7E;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #587291;
}

.delete-button {
  background-color: #dc3545 !important;
}

.delete-button:hover {
  background-color: #c82333 !important;
}


.error-box,
.success-box {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-weight: bold;
}

.error-box {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.success-box {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}


.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.data-table th,
.data-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.data-table th {
  background-color: #1F271B;
  color: white;
  font-weight: bold;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}